<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body>

		<header>
			<div class="header-brand">
				<img src="/static/img/aimindset-logo.png" alt="{{ metadata.title }} logo" class="site-logo">
				<em>
					<a href="{{ '/' | url }}">{{ metadata.title }}</a>
				</em>
			</div>
			{% include "components/nav.njk" %}


		</header>

		<main>
			{{ layoutContent | safe }}
		</main>

		{% include "components/footer.njk" %}

	</body>

</html>
